<p id="notice"><%= notice %></p>

<table border="1">
	<tr>
		<td>Cidade</td>
		<td colspan="2"><%= @curriculum.cidade %></td>
	</tr>

	<tr>
		<td>Endereço</td>
		<td colspan="2"><%= @curriculum.endereco %></td>
	</tr>

	<tr>
		<td>UF</td>
		<td colspan="2"><%= @curriculum.uf %></td>
	</tr>

	<tr>
		<td>CPF</td>
		<td colspan="2"><%= @curriculum.cpf %></td>
	</tr>

	<tr>
		<td>Telefone Resid.</td>
		<td colspan="2"><%= @curriculum.telefone_resid %></td>
	</tr>

	<tr>
		<td>Telefone Com.</td>
		<td colspan="2"><%= @curriculum.telefone_com %></td>
	</tr>

	<tr>
		<td>Idade</td>
		<td colspan="2"><%= @curriculum.idade %></td>
	</tr>

	<tr>
		<td>Data Nascimento</td>
		<td colspan="2"><%= @curriculum.dt_nasc %></td>
	</tr>

	<tr>
		<td colspan="3" align="center">Experiências</td>
	</tr>

	<tr>
		<td>Empresa</td><td>Data Inicial</td><td>Data Final</td>
	</tr>

    <%# curr.experiences.map(&:empresa).sort.join(", ") %>

	<% @curriculum.experiences.each do |xp| %>
		<tr>
			<td>
				<%= xp.empresa %>
			</td>
			<td>
				<%= xp.data_inicial %>
			</td>
			<td>
				<%= xp.data_final %>
			</td>
		</tr>
	<% end %>

</table>