<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table align="center">
    
    <tr>
      <td>
        <div class="field">
          <%= f.label :data_inicial %>
          <%= f.date_field :data_inicial %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :data_final %>
          <%= f.date_field :data_final %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :valor %>
          <%= f.text_field :valor %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :solicitacao %>
          <%= f.text_field :solicitacao %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= f.label :descricao %>
          <%= f.text_field :descricao %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
