<p id="notice"><%= notice %></p>

<h1>Idiomas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Idioma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.id %></td>
        <td><%= language.nome %></td>
        <td><%= link_to 'Mostrar', language %></td>
        <td><%= link_to 'Editar', edit_language_path(language) %></td>
        <td><%= link_to 'Deletar', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
