<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @experience.empresa %>
</p>

<p>
  <strong>Data inicial:</strong>
  <%= @experience.data_inicial %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @experience.data_final %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @experience.descricao %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
